.hide{
    display: none;
}

ul.main a{
    outline: none;
    text-decoration: none;
}

ul.main a.selected{
    color: #f00;
    outline: none;
}

ul.main ul{
    animation: secondAnimation  1s both;
    animation-duration: 1s;
    display: none;
}

ul.main ul.open{
    animation: firstAnimation  1s both;
    animation-duration: 1s;
    display: block;
}

ul + a::after{
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f107';
    margin-left: 4px;
}

ul.main li{
    font-size: 16px;
    display: flex;
    flex-direction: column-reverse;
}

@keyframes firstAnimation {
    from {
        font-weight: 100;
        line-height: 1.5
        letter-spacing: normal;
    }
    to {
        font-weight: 900;
        line-height: 1.2;
        letter-spacing: 3px;
    }
}

@keyframes secondAnimation {
    from {
        font-weight: 900;
        line-height: 1.2;
        letter-spacing: 3px;
    }
    to {
       font-weight: 100;
        line-height: 1.5;
        letter-spacing: normal;
    }
}