        .fas {
            position: absolute;
            top: 50%;
            right: 0%;
        }
        .form-group {
            position: relative;
            display: flex;
            flex-direction: column;
        }
        .hideEye, .hideAlert {
            display: none;
        }
        #exampleInputPassword1.is-valid {
            background-position: right calc(1.375em + .1875rem) center;
        }
        .alert {
            margin-top: 10px;
        }