body {
	font-family: sans-serif;
	margin: 0;
	padding: 20px;
	box-sizing: border-box;
	background-color: #ccc;
}
.conteiner {
	display: flex;
	flex-direction: column;
	align-items: center;
}
tr td, tr th {
	padding: 10px;
	border: 1px solid #ccc;
}
